<div class="wrapper" style="background-image: url(<%= @cocktail.photo? ? cl_image_path(@cocktail.photo.path) : image_path("#{@cocktail.name.downcase.gsub(" ", "-")}.jpg") %>);">
<div class="container">
  <h1><%= @cocktail.name %></h1>
  <div class="rating-show">
    <% @cocktail.rating.round.times do %>
      <i class="fa fa-star" aria-hidden="true"></i>
    <% end %>
    <% (5 - @cocktail.rating.round).times do %>
      <i class="fa fa-star-o" aria-hidden="true"></i>
    <% end %>
  </div>
  <div class="rating-show">
    <%="(#{@cocktail.votes} votes)" %>
  </div>
</div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item"><%= "#{dose.ingredient.name} : #{dose.description}" %>
            <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete do %>
              <i class="fa fa-times pull-right" aria-hidden="true"></i>
            <% end %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="rating-content">
        <h2 class='text-center'>Note le !</h2>
        <%= simple_form_for @cocktail do |f| %>
          <%= f.hidden_field :rating, value: 0 %>
          <div class="text-center">
          <i class='fa fa-star rating' id="1" aria-hidden='true'></i>
          <i class='fa fa-star rating' id="2" aria-hidden='true'></i>
          <i class='fa fa-star rating' id="3" aria-hidden='true'></i>
          <i class='fa fa-star rating' id="4" aria-hidden='true'></i>
          <i class='fa fa-star rating' id="5" aria-hidden='true'></i>
          <br>
          <br>
          <%= f.button :submit, class: "btn btn-success" %>
          <br>
          <br>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="ingredient-creator">
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :ingredient, collection: @ingredients, prompt: "Choisis un ingrédient" %>
          <%= f.input :description %>
          <%= f.button :submit, class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.rating').on('click', function(){
      if ($('#cocktail_rating').val() === this.id ) {
        for (i = 1 ; i <= this.id ; i += 1){
          $('#' + i).toggleClass('rating-yellow');
        };
        $('#cocktail_rating').val(0);
      } else {
      $('.rating').removeClass('rating-yellow');
      $('#cocktail_rating').val(this.id)
      for (i = 1 ; i <= this.id ; i += 1){
        $('#' + i).addClass('rating-yellow');
      }
      }
    });
  });
</script>
